{% extends 'base.html' %}
{% load bootstrap %}


{% block title %} Pagina de login {% endblock %}

{% block main %}

    <div class="d-flex justify-content-center" style="padding-bottom: 20px;">
        <h2>Entrar</h2>
    </div>
    <form method="post">
        {% csrf_token %}
        <div>
            Usuário
            <div class="input-group mb-3">
                 {{ form.username }}
            </div> 
         </div>

         <div>
            Senha
            <div class="input-group mb-3">
                 {{ form.password }}
            </div> 
         </div>

        <div class="d-flex justify-content-center" style="padding-top: 20px;">
            <div style="margin-left: 1px;">
                <button type="submit" class="btn btn-success">Entrar</button>
                <a href="http://127.0.0.1:8000/register/" class="btn btn-info">Registrar</a>
            </div>
        </div>
    </form>

{% endblock %}